@font-face {
    font-family: 'pt_serifbold';
    src: url('fonts.css/ptserif-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'pt_serifbold_italic';
    src: url('fonts.css/ptserif-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'pt_serifitalic';
    src: url('fonts.css/ptserif-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'pt_serifregular';
    src: url('fonts.css/ptserif-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
